@keyframes progress {
  0% { width: 0; }
  100% { width: 100%; }
}
@keyframes show  {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FadeIn { 
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}